:root {
  // COLORS
  --color-white-1: rgb(255, 255, 255);
  --color-white-2: rgb(239, 239, 239);
  --color-red-1: rgb(255, 61, 142);
  --color-red-2: rgb(255, 44, 132);
  --color-red-3: rgb(255, 27, 123);
  --color-blue-1: #55a2ff;
  --color-blue-2: #4498ff;
  --color-blue-3: #338fff;
  --color-gray-1: rgb(106, 109, 112);
  --color-gray-2: rgb(75, 76, 77);
  --color-gray-3: rgb(60, 62, 65);
  --color-black-1: rgb(15, 15, 15);
  --color-black-2: rgb(31, 31, 31);
}