.notifications {
  left: 50%;
  max-width: 100%;
  position: fixed;
  top: 0;
  transform: translateX(-50%);
  width: 60rem;
  z-index: var(--z-index-6);

  @include size(phone) {
    width: 100%;
  }
}