.day {
  align-self: flex-start;
  border: 2px solid var(--color-blue-2);
  border-radius: 10px;
  margin: 3rem;
  max-width: 100%;
  padding: 4rem 2rem 4rem;
  position: relative;
  text-align: center;
  width: 45rem;

  @include size(phone) {
    width: 100%;
    margin: 3rem 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &__heading {
    background-color: var(--color-gray-2);
    left: 5rem;
    padding: 0 1.5rem;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    z-index: var(--z-index-1);
  }

  &__add-todo {
    cursor: pointer;
    fill: var(--color-blue-2);
    height: 5.5rem;
    width: 5.5rem;
  }
}

