.todo {
  align-items: center;
  display: flex;
  padding: 1.3rem 1rem;
  border: 1px solid var(--color-blue-2);
  border-radius: 10px;
  perspective: 1000px;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }

  &__checkbox {
    display: none;
    width: 0;
    height: 0;
  }

  &__switch-box {
    cursor: pointer;
    position: relative;
    max-width: 2.9rem;
    min-width: 2.9rem;
    max-height: 2.9rem;
    min-height: 2.9rem;
  }

  &__switch-side {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .4s ease-in-out;
    backface-visibility: hidden;

    &--back {
      transform: rotateY(180deg);
    }
  }

  &__switch-side--back &__icon {
    fill: var(--color-blue-3-transparent);
  }

  &.done &__switch-box &__switch-side--front {
    transform: rotateY(180deg);
  }

  &.done &__switch-box &__switch-side--back {
    transform: rotateY(0);
  }

  &__icon {
    fill: var(--color-blue-2);
    width: 2.9rem;
    height: 2.9rem;
  }

  &__icon-hook {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.6);
  }

  &__textarea-container {
    flex: 1;
    margin: 0 1.5rem;
    position: relative;
  }

  &__textarea {
    resize: none;
    overflow: hidden;
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--color-white-1);
    font-family: helvetica;
    font-size: 1.7rem;
    transition: color .2s;
  }

  &.done &__textarea-container &__textarea {
    color: var(--color-white-3);
  }

  &__textarea-cross {
    position: absolute;
    top: 50%;
    left: 0;
    height: 1px;
    width: 0;
    transition: all .4s ease-in-out;
    background-color: var(--color-white-1);
  }

  &.done &__textarea-container &__textarea-cross {
    width: 100%;
    background-color: var(--color-white-3);
  }

  &__icon-remove {
    height: 2.6rem;
    cursor: pointer;
    fill: var(--color-blue-2);
    transition: all .4s ease-in-out;
  }

  &.done &__icon-remove {
    fill: var(--color-blue-3-transparent);
  }
}